/* top page */

/* html {

    background-color: #000000;
}

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    background: white;
} */

.RecetteTop {

   
    display: grid;
    POSITION: absolute;
    top: 10px;
    LEFT: 90px;

}

.RecetteMid{
    position: absolute;
    left: 93px;
    top: 37px;
}

.RecetteBot{

    position: absolute;
    left: 89px;
    top: 49px;
}

.RecetteTopTitre {
   
    position: absolute;
    width: 1294px;
    height: 77px;
    left: 80px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;

    color: #000000;

}

.auteur2 {
    display: flex;
    position: absolute;
    width: 163px;
    height: 50px;
    left: 80px;
    top: 315px;

}

.auteurNom2 {

    position: absolute;
    width: 90px;
    height: 19px;
    left: 75px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}



.timeAuteur2 {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;


}


.séparation1 {

    position: absolute;
    width: 0px;
    height: 50px;
    left: 301px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}


.imgTimeR {

    position: absolute;
    width: 18px;
    height: 18px;
    left: 336px;
    top: 331px;

}

.preptime {

    position: absolute;
    width: 92px;
    height: 15px;
    left: 373px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #000000;
}

.minR {
    position: absolute;
    width: 71px;
    height: 17px;
    left: 373px;
    top: 343px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}

.séparation2 {

    position: absolute;
    width: 0px;
    height: 50px;
    left: 478px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.imgTimeR2 {

    position: absolute;
    width: 18px;
    height: 18px;
    left: 513px;
    top: 331px;

}

.cooktime {

    position: absolute;
    width: 92px;
    height: 15px;
    left: 550px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #000000;
}

.minR2 {
    position: absolute;
    width: 71px;
    height: 17px;
    left: 550px;
    top: 343px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}

.séparation3 {


    position: absolute;
    width: 0px;
    height: 50px;
    left: 660px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.imgCatR {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 692px;
    top: 328px;

}


.catR {

    position: absolute;
    width: 53px;
    height: 17px;
    left: 726px;
    top: 331px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}

/* mid TOP */

.vidéorecette {


    position: absolute;
    width: 840px;
    height: 600px;
    left: 80px;
    top: 429px;
}

.nutritioninfo {

    position: absolute;
    width: 400px;
    height: 600px;
    left: 960px;
    top: 429px;

    background: #E7FAFE;
    border-radius: 30px;
}

/* nutrition information */
.titreNutrition {


    position: absolute;
    width: 223px;
    height: 29px;
    left: 49px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;
}

/* type element nutritif */
.calorie {

    position: absolute;
    width: 66px;
    height: 22px;
    left: 52px;
    top: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.totalfat {

    position: absolute;
    width: 80px;
    height: 22px;
    left: 51px;
    top: 147px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.protein {

    position: absolute;
    width: 66px;
    height: 22px;
    left: 53px;
    top: 202px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.carboh {

    position: absolute;
    width: 66px;
    height: 22px;
    left: 52px;
    top: 262px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.6);
}

.choleste {
    position: absolute;
    width: 66px;
    height: 22px;
    left: 52px;
    top: 322px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.6);

}

/* valeur nutritif */
.Cavaleur {
    position: absolute;
    width: 80px;
    height: 22px;
    left: 281px;
    top: 89px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000000;

}

.tvaleur {

    position: absolute;
    width: 80px;
    height: 22px;
    left: 278px;
    top: 146px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000000;
}

.pvaleur {

    position: absolute;
    width: 80px;
    height: 22px;
    left: 277px;
    top: 201px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000000;
}

.carvaleur {
    position: absolute;
    width: 80px;
    height: 22px;
    left: 278px;
    top: 261px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000000;
}

.chovaleur {
    position: absolute;
    width: 80px;
    height: 22px;
    left: 278px;
    top: 322px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #000000;

}

.texteNutri {
    position: absolute;
    width: 329px;
    height: 56px;
    left: 37px;
    top: 513px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.Nséparation1 {

    position: absolute;
    width: 336px;
    height: 0px;
    left: 35px;
    top: 127px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.Nséparation2 {

    position: absolute;
    width: 336px;
    height: 0px;
    left: 35px;
    top: 188px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.Nséparation3 {

    position: absolute;
    width: 336px;
    height: 0px;
    left: 35px;
    top: 243px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.Nséparation4 {

    position: absolute;
    width: 336px;
    height: 0px;
    left: 35px;
    top: 305px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.Nséparation5 {

    position: absolute;
    width: 336px;
    height: 0px;
    left: 35px;
    top: 359px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.texteBotTop {

    position: absolute;
    width: 1262px;
    height: 84px;
    left: 80px;
    top: 1109px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: rgba(0, 0, 0, 0.6);
}

/* MID PAGE */

.ingredientTitre {

    position: absolute;
    width: 184px;
    height: 44px;
    left: 80px;
    top: 1273px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;
}

.maindish {

    position: absolute;
    width: 144px;
    height: 29px;
    left: 80px;
    top: 1365px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;
}

.ingredienCheck{

    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    position: relative;
    margin-left: 171px;
    left: -177px;
    top: 3px;
    row-gap: 94px;
    column-gap: -25px;
}

.ingrechek1{

    position: relative;
}

.checkingre {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 1426px;
}

.texteingre {

    position: absolute;
    width: 223px;
    height: 22px;
    left: 128px;
    top: 1427px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}



.ingreséparation {
    position: absolute;
    width: 840px;
    height: 0px;
    left: 80px;
    top: 1482px;

    border: 1px solid rgba(0, 0, 0, 0.1);

}



/* OTHER RECIPE */


.TireOR {

    position: absolute;
    width: 188px;
    height: 39px;
    left: 960px;
    top: 1273px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;

}

.OtherRecipe{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    position: relative;
    margin-left: 171px;
    left: -177px;
    top: -350px;
    row-gap: 39px;
    column-gap: -25px;
}

.OtherRecipe1{

    position: relative;
    width: 400px;
    height: 120px;
   

}

.imgORrecette {
    position: absolute;
    width: 180px;
    height: 120px;
    left: 960px;
    top: 1344px;

}

.ORtitre {

    position: absolute;
    width: 196px;
    height: 56px;
    left: 1164px;
    top: 1360px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    letter-spacing: -0.04em;

    color: #000000;

}

.ORauteur {

    position: absolute;
    width: 113px;
    height: 17px;
    left: 1164px;
    top: 1432px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}


.pub2 {
    position: absolute;
    width: 400px;
    height: 434px;
    left: 960px;
    top: 1832px;

    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
}

/* FOR THE SAUCE  */

.titreSauce {

    position: absolute;
    width: 146px;
    height: 29px;
    left: 80px;
    top: 1898px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;

}

.checkSauce{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    position: relative;
    margin-left: 171px;
    left: -177px;
    top: -813px;
    row-gap: 95px;
    column-gap: -25px;
}
.checkSauce1{
position: relative;

}


.checksauce {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 1959px;
}

.textesauce {

    position: absolute;
    width: 223px;
    height: 22px;
    left: 128px;
    top: 1960px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.sauceséparation {
    position: absolute;
    width: 840px;
    height: 0px;
    left: 80px;
    top: 2015px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}


/* BOT PAGE */

.titrestep1 {

    position: absolute;
    width: 165px;
    height: 44px;
    left: 81px;
    top: 2279px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #000000;
}
.directiongrid{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    position: relative;
    margin-left: 171px;
    left: -177px;
    top: -7px;
    row-gap: 503px;
    column-gap: -25px;

}
.directiongrid2{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    position: relative;
    margin-left: 171px;
    left: -177px;
    top: 828px;
    row-gap: 246px;
    column-gap: -25px;

}
.etape1{
    position: relative;
}

.checkstep {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 2358px;


}

.titrestep {

    position: absolute;
    width: 339px;
    height: 29px;
    left: 128px;
    top: 2355px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.textestep {

    position: absolute;
    width: 784px;
    height: 104px;
    left: 128px;
    top: 2408px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}

.imgstep {

    position: absolute;
    width: 792px;
    height: 400px;
    left: 128px;
    top: 2560px;


    border-radius: 20px;
}

.textestep2 {

    position: absolute;
    width: 784px;
    height: 104px;
    left: 128px;
    top: 3008px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}


.stepséparation {

    position: absolute;
    width: 840px;
    height: 0px;
    left: 80px;
    top: 3160px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}




.checkstep2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 3211px;


}

.titrestep2 {

    position: absolute;
    width: 328px;
    height: 29px;
    left: 128px;
    top: 3208px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.textestep3 {


    position: absolute;
    width: 784px;
    height: 104px;
    left: 128px;
    top: 3261px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}



.stepséparation2 {
    position: absolute;
    width: 840px;
    height: 0px;
    left: 80px;
    top: 2565px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}



.checkstep3 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 3464px;


}

.titrestep3 {

    position: absolute;
    width: 329px;
    height: 29px;
    left: 128px;
    top: 3461px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.textestep4 {

    position: absolute;
    width: 784px;
    height: 104px;
    left: 128px;
    top: 3514px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}



.stepséparation3 {
    position: absolute;
    width: 840px;
    height: 0px;
    left: 80px;
    top: 2560px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* email subscribe */

.subscribe2 {

    position: absolute;
    width: 1280px;
    height: 442px;
    left: 83px;
    top: 3826px;
    background: #E7F9FD;
    border-radius: 60px;

}

.imgemail1v2 {

    position: absolute;
    width: 260.07px;
    height: 260.62px;
    left: 1020px;
    top: 180px;

    filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
    border-radius: 0px 0px 20% 0px;

}

.imgemail3v2 {
    position: absolute;
    left: 954px;
    top: 214px;

}

/* Like recipe too */

.Recipelike {

    display: grid;
    /* grid-template-rows: repeat(4,1fr); */
    grid-template-columns: repeat(4,1fr);
    position: relative;
    margin-left: 171px;
    left: -174px;
    top: 360px;
    row-gap: 371px;
    column-gap: -25px;
}


.RecipelikeTitre {

    position: absolute;
    width: 468px;
    height: 44px;
    left: 494px;
    top: 4428px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: #000000;
}


.Recipelike1 {
    position: relative;
   

}

.imgRL {

    position: absolute;
    width: 290px;
    height: 210.2px;
    left: 80px;
    top: 4190px;


    border-radius: 20px;

}


.likeRL {

    position: absolute;
    width: 48px;
    height: 48px;
    left: 306px;
    top: 4205px;
}

.RLtexte {

    position: absolute;
    width: 290px;
    height: 52px;
    left: 80px;
    top: 4426px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: -0.04em;

    color: #000000;

}

.imgTimeRL {

    position: absolute;
    width: 18px;
    height: 18px;
    left: 83px;
    top: 4505px;

}

.minRL {
    position: absolute;
    width: 73px;
    height: 17px;
    left: 114px;
    top: 4505px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}

.imgCatRL {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 211px;
    top: 4502px;
}


.catRL {

    position: absolute;
    width: 50px;
    height: 17px;
    left: 245px;
    top: 4505px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
}



.footerPR {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 368px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 310%;
    margin-bottom: 3%;
    padding-bottom: 0%;

}

.footerPR a {

    text-decoration: none;
    color: black;

}