.griiid{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    position: relative;
    margin-top: 10%;
    margin-left: 171px;
    left: -117px;
    top: -1520px;
    row-gap: 371px;
    column-gap: -25px;
}

.deliciousRecipeTitre{

    position: absolute;
    width: 556px;
    height: 116px;
    left: 170px;
    top: 4014px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    
    color: #000000;
}

.deliciousRecipeTexte{

    position: absolute;
    width: 609px;
    height: 56px;
    left: 840px;
    top: 4044px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    
    color: rgba(0, 0, 0, 0.6);

}

/* DR1 */

.deliciousRecipe1{
    position: relative;
    top: 0px;
    left: 0px;
   

}

.imgDR{

    position: absolute;
width: 290px;
height: 210.2px;
left: 80px;
top: 4190px;


border-radius: 20px;

}


.likeDR{

    position: absolute;
    width: 48px;
    height: 48px;
    left: 306px;
    top: 4205px;
}

.DRtexte{

    position: absolute;
    width: 290px;
    height: 52px;
    left: 80px;
    top: 4426px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    letter-spacing: -0.04em;
    
    color: #000000;

}

.imgTimeDR{

    position: absolute;
width: 18px;
height: 18px;
left: 83px;
top: 4505px;

}

.minDR{
    position: absolute;
    width: 73px;
    height: 17px;
    left: 114px;
    top: 4505px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: rgba(0, 0, 0, 0.6);
}

.imgCatDR{

    position: absolute;
    width: 24px;
    height: 24px;
    left: 211px;
    top: 4502px;
}


.catDR{

    position: absolute;
    width: 50px;
    height: 17px;
    left: 245px;
    top: 4505px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: rgba(0, 0, 0, 0.6);
}

/* DR2 */

.deliciousRecipe2{
    position: absolute;
   
    left: 415px;
    top: 0px;

}



/* DR3 */

.deliciousRecipe3{
    position: absolute;
   
    left: 740px;
    top: 0px;

}



/* DR4 */

.deliciousRecipe4{
    position: absolute;
   
    left: 1070px;
    top: 0px;

}


/* DR5 */

.deliciousRecipe5{
    position: absolute;
   
    left: 90px;
    top: 400px;

}



/* DR6 */

.deliciousRecipe6{
    position: absolute;
   
    left: 415px;
    top: 400px;

}




/* DR7 */


.deliciousRecipe7{
    position: absolute;
   
    left: 740px;
    top: 400px;

}



/* DR8 */

.deliciousRecipe8{
    position: absolute;
   
    left: 1070px;
    top: 400px;

}

