

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .body{

  margin-right: 0%;
  margin-left: 0%;
  width: 1440px;
  background: #FFFFFF;

} */
a {
  text-decoration: none;
}

li {
  list-style: none;
}



/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-links a {
  color: rgb(0, 0, 0);
}

/* LOGO */
.logo {
  font-size: 32px;
  margin-left: 5%;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(255, 255, 255);
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #ffffff;
}

.services:hover .dropdown {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.nav-links a {
  color: rgb(0, 0, 0);
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #868686;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(102, 102, 102);
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #ffffff;
}

.services:hover .dropdown {
  display: block;
}


.headerlogo {
  margin-right: 5%;
  gap: 40px;
  display: flex;

}

.headerlogo a {
  padding: 10px;

  text-decoration: none;
  color: black;

}

.un {

  color: rgba(0, 0, 0, 0.534);
}
/* css footer */
.footer {
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding: 20px;

  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 200%;
  margin-bottom: 3%;
  padding-bottom: 0%;

}

.footer .logo {

  margin-left: 3%;

}


.footer a {

  text-decoration: none;
  color: black;

}

.footer2 a {

  text-decoration: none;
  color: black;

}

.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  padding-bottom: 0%;
  padding: 2%;
  background-color: #ffffff;

}

.logo p {
  text-decoration: none;
  font-size: 60%;
  margin-top: 4%;
}

.menuf {
  margin-right: 3%;
  display: flex;
  gap: 60px;
  font-size: 120%;

}

.footerhr {

  margin-right: 3%;
  margin-left: 3%;

}

.footer2 p a {

  color: red;

}

.footer2 p {

  margin-left: 40%;
}

.resouxf {
  display: flex;
  margin-right: 3%;
  gap: 60px;


}

/* css recette en avant */

.grid{

display: grid;

}

.recettegauche{

  position: absolute;
width: 620px;
height: 640px;
left: 155px;
top: 150px;
 

}

.imgD{
position: absolute;
border-radius: 0px 20px 20px 0px;
  
}
.imgG{
position: absolute;

}

.recettedroite{

 

 position: absolute;
  width: 500px;
  height: 640px;
  left: 775px;
  top: 150px;
}

.titreR{

  position: absolute;
  width: 520px;
  height: 154px;
  left: 80px;
  top: 150px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.04em;
  
}
.HOT{
  position: absolute;
width: 156px;
height: 45px;
left: 80px;
top: 60px;

background: #FFFFFF;
border-radius: 30px;
-webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 34px 50px -30px #000000; 
box-shadow: 0px 10px 13px -7px #000000, 1px 34px 50px -30px #000000;
}

.hotrecette{
  position: absolute;
  width: 79px;
  height: 17px;
  left: 55px;
  top: 15px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;
  
  color: #000000;


}

.imgHOT{

  position: absolute;
width: 24px;
height: 24px;
left: 20px;
top: 10px;
}

.texteR{

  position: absolute;
width: 470px;
height: 56px;
left: 80px;
top: 350px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: rgba(0, 0, 0, 0.6);
}
.time{
  position: absolute;
  width: 139px;
  height: 40px;
  left: 80px;
  top: 440px;
  
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;

}

.imgTime{


  position: absolute;
  width: 18px;
  height: 18px;
  left: 20px;
  top: 10px;
  
}

.min{
  position: absolute;
  width: 73px;
  height: 17px;
  left: 50px;
  top: 10px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;


}
.catég{

  position: absolute;
  width: 139px;
  height: 40px;
  left: 240px;
  top: 440px;
  
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;


}
.imgCat{
  display: flex;
  position: absolute;
width: 8.25px;
height: 19.5px;
left: 20px;
top: 10px;

}

.cat{

  position: absolute;
width: 53px;
height: 17px;
left: 50px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: -0.02em;
}

.auteur{
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 80px;
  top: 550px;
  
}

.auteurNom{

  position: absolute;
width: 90px;
height: 19px;
left: 75px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
}
.timeAuteur{

  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;
  
  
}

.bouttonRecipe{
  position: absolute;
  width: 200px;
  height: 60px;
  left: 370px;
  top: 540px;
  
  background: #000000;
  border-radius: 16px;

}
.imgBoutton{

  position: absolute;
width: 19.5px;
height: 19.5px;
left: 140px;
top: 20px;

}

.view{

  position: absolute;
  width: 88px;
  height: 17px;
  left: 40px;
  top: 20px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;

  color: #FFFFFF;


}

/* css catégories */

.categories{

  display: grid;
}

.categorieTexte{

  position: absolute;
width: 238px;
height: 58px;
left: 150px;
top: 952px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */

letter-spacing: -0.04em;

color: #000000;
}

.viewAllCat{

  position: absolute;
width: 200px;
height: 60px;
left: 1065px;
top: 0px;

background: #E7FAFE;
border-radius: 16px;
}
.viewAllCatTexte{
  position: absolute;
width: 146px;
height: 19px;
left: 40px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

color: #000000;
}

.breakfast{
  position: absolute;
  width: 180px;
  height: 152px;
  left: 150px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
  border-radius: 30px;

}

.imgbreakfast{


  position: absolute;
width: 100px;
height: 100px;
left: 40px;
top: -40px;
filter: drop-shadow(12px 31px 13px rgba(0, 0, 0, 0.12));

}

.breakfastTexte{


  position: absolute;
width: 81px;
height: 22px;
left: 50px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: -0.02em;

color: #000000;
}

.vegan{
  position: absolute;
  width: 180px;
  height: 152px;
  left: 370px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
  border-radius: 30px;
}

.imgvegan{
  position: absolute;
width: 100px;
height: 100px;
left: 40px;
top: -40px;
filter: drop-shadow(15px 27px 10px rgba(39, 138, 13, 0.22));

}

.veganTexte{

  position: absolute;
width: 81px;
height: 22px;
left: 50px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: -0.02em;

color: #000000;
}

.meat{
  position: absolute;
  width: 180px;
  height: 152px;
  left: 590px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
  border-radius: 30px;
}

.imgmeat{

  position: absolute;
  width: 100px;
  height: 100px;
  left: 40px;
  top: -40px;
  filter: drop-shadow(25px 23px 10px rgba(212, 128, 128, 0.22));
}

.meatTexte{

  position: absolute;
  width: 81px;
  height: 22px;
  left: 50px;
  top: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #000000;
}

.dessert{

  position: absolute;
  width: 180px;
  height: 152px;
  left: 810px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
  border-radius: 30px;
}

.imgdessert{

  position: absolute;
  width: 100px;
  height: 100px;
  left: 40px;
  top: -40px;
  filter: drop-shadow(19px 24px 10px rgba(210, 175, 115, 0.22));
}

.dessertTexte{

  position: absolute;
  width: 81px;
  height: 22px;
  left: 50px;
  top: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #000000;
}

.lunch{
  position: absolute;
  width: 180px;
  height: 152px;
  left: 1030px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  border-radius: 30px;
}

.imglunch{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 40px;
  top: -40px;
  filter: drop-shadow(24px 31px 10px rgba(226, 217, 132, 0.22));
}

.lunchTexte{

  position: absolute;
  width: 81px;
  height: 22px;
  left: 50px;
  top: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #000000;

}

.chocolate{
  position: absolute;
  width: 180px;
  height: 152px;
  left: 1250px;
  top: 1140px;
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  border-radius: 30px;
}

.imgchocolate{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 40px;
  top: -40px;
  filter: drop-shadow(20px 29px 10px rgba(171, 78, 78, 0.22));
}

.chocolateTexte{

  position: absolute;
  width: 81px;
  height: 22px;
  left: 50px;
  top: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #000000;

}

/* css des recettes */

.recette{

  display: grid;

}



.simplyrecipes{

  position: absolute;
  width: 526px;
  height: 58px;
  left: 580px;
  top: 1475px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  
  letter-spacing: -0.04em;
  
  color: #000000;

}

.simplyTexte{

  position: absolute;
width: 600px;
height: 56px;
left: 520px;
top: 1557px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

color: rgba(0, 0, 0, 0.6);
}

.recette1{

  position: absolute;
  width: 400px;
  height: 434px;
  left: 80px;
  top: 1709px;
  
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 30px;

}

.imgR1{

  position: absolute;
  width: 370px;
  height: 264px;
  left: 15px;
  top: 0px;
  border-radius: 30px;

}

.recette1Texte{

  position: absolute;
  width: 352px;
  height: 64px;
  left: 25px;
  top: 290px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  
  letter-spacing: -0.04em;
  
  color: #000000;


}

.imgTimeR1{
  position: absolute;
  width: 18px;
  height: 18px;
  left: 23px;
  top: 375px;

}

.minR1{
  position: absolute;
  width: 73px;
  height: 17px;
  left: 50px;
  top: 375px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;

}

.imgCatR1{
  display: flex;
  position: absolute;
width: 8.25px;
height: 19.5px;
left: 150px;
top: 374px;

}

.catR1{

  position: absolute;
  width: 53px;
  height: 17px;
  left: 180px;
  top: 375px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.02em;
}

.likeR1{

  position: absolute;
width: 48px;
height: 48px;
left: 316px;
top: 20px;
}
